---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <h1>{{ page.title }}</h1>
</header>

<main>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <aside class="sidebar">
                    <section>
                        <header>
                            <h2>{{ sidebar.title }}</h2>
                        </header>
                        <ul class="default">
                            {% for staff in sidebar.staffs %}
                                <li><a href="{{ staff.url }}">{{ staff.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                </aside>

                <article class="content">
                    <header>
                        <h2><a >{{ content.name }}</a></h2>
                    </header>

                    <figure class="feature">
                        <img src="{{ site.baseurl }}/members/photos/{{ content.photo }}" alt="{{ content.name }}" style="width: 15vw; min-width: 60px;">
                    </figure>

                    <p>Contact: <a href="mailto:{{ content.email }}">{{ content.email }}</a> &emsp; &emsp; Personal Web: <a href="{{ content.personal_web }}">{{ content.personal_web }}</a></p>

                    <section>
                        <h3>Experience:</h3>
                        <ul>
                            {% for experience in content.experience %}
                                <li>{{ experience }}</li>
                            {% endfor %}
                        </ul>
                    </section>

                    <section>
                        <h3>Education:</h3>
                        <ul>
                            {% for education in content.education %}
                                <li>{{ education }}</li>
                            {% endfor %}
                        </ul>
                    </section>

                    <section>
                        <h3>Research Topics:</h3>
                        <ul>
                            {% for topic in content.research_topics %}
                                <li>{{ topic }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                </article>
            </div>
        </div>
    </div>
</main>

<footer>
    <!-- Footer content -->
</footer>

</body>
</html>
